@import url('./themes.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-l);
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
}

h1,
h2 {
    text-align: center;
    font-weight: 800;
    color: var(--color-titulo);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

h3 {
    color: var(--color-titulo);
    border-bottom: 1px solid var(--color-borde);
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

/*--- Tags ---*/

a,
button {
    padding: var(--spacing-s) 1.5rem;
    background: none;
    border: 1px solid var(--color-borde);
    border-radius: 0.5em;
    color: var(--color-enlace);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: var(--spacing-s);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    box-shadow: 0 2px 6px var(--color-shadow);
    user-select: none;
}

a:disabled,
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
    background: var(--color-fondo-hover);
    color: var(--color-enlace-hover);
    border-color: var(--color-enlace-hover);
    outline-offset: 2px;
    box-shadow: 0 4px 10px var(--color-shadow-hover);
}

a:active,
button:active {
    background: var(--color-borde);
    box-shadow: none;
    transform: translateY(0);
    outline: none;
}

a::after {
    content: none;
}

/* --- 4. NAVEGACIÓN Y HEADER --- */
header {
    padding: 3em 0;
    text-align: center;
    border-bottom: 1px solid var(--color-borde);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

nav {
    padding: 1rem;
    border-bottom: solid 1px var(--color-borde);
    position: sticky;
    top: 0;
    background-color: var(--color-fondo-principal);
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a:hover,
button:hover {
    background: var(--color-fondo-hover);
    border-color: var(--color-enlace-hover);
    color: var(--color-enlace-hover);
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: auto;
}